@page "/"
@namespace SimpleGames.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title In _Host.cshtml</title>
    <base href="~/" />
    <!-- w3 -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2019.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2018.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-metro.css">
    <link href="css/site.css" rel="stylesheet" />
</head>
<body class="w3-2019-evening-blue">

    <header>
        <div class="w3-bar w3-2018-tofu w3-padding">
            <a class="w3-bar-item w3-border w3-button w3-round-large w3-2019-evening-blue w3-mobile" href="https://caseyasher.info/Index">Projects</a>
            <a class="w3-bar-item w3-border w3-button w3-round-large w3-2019-evening-blue w3-mobile" href="https://caseyasher.info/Contact">Contact</a>
            <span class="w3-bar-item w3-right w3-mobile"><strong>Casey Asher</strong>, Full-Stack Developer</span>
        </div>
    </header>

    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a>🗙</a>
    </div>

    <footer>
        <div class="w3-2019-evening-blue w3-padding" style="position:fixed; right:0; bottom:0; opacity:0.8;">
            &copy; 2020 - Casey Asher - <a href="https://caseyasher.info/Contact">contact</a>
        </div>
    </footer>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
